qt-gui==0.4.2
tf==1.13.2
laser_geometry==1.6.7
diagnostic-analysis==1.11.0
dynamic-reconfigure==1.7.3
rosmake==1.15.8
resource_retriever==1.12.7
rosmaster==1.17.0
rqt-robot-monitor==0.5.15
rqt_service_caller==0.4.10
rosboost-cfg==1.15.8
rosgraph==1.17.0
rqt_pose_view==0.5.11
gazebo_plugins==2.9.2
camera-calibration-parsers==1.12.0
rqt-tf-tree==0.6.4
smclib==1.8.6
rqt_topic==0.4.13
tf2-ros==0.7.7
sensor-msgs==1.13.1
message-filters==1.17.0
roscreate==1.15.8
catkin==0.8.10
roslz4==1.17.0
rosclean==1.15.8
rqt_web==0.4.10
python-qt-binding==0.4.4
gazebo_ros==2.9.2
rosmsg==1.17.0
rosnode==1.17.0
gencpp==0.7.0
tf2-kdl==0.7.7
genmsg==0.6.0
rqt_srv==0.4.9
rqt-rviz==0.7.0
rqt_nav_view==0.5.7
rqt_publisher==0.4.10
actionlib==1.14.0
smach-ros==2.5.2
rqt_shell==0.4.11
diagnostic-updater==1.11.0
rqt-logger-level==0.4.12
rqt_gui_py==0.5.3
rqt_launch==0.4.9
cv-bridge==1.16.2
qt-gui-cpp==0.4.2
genpy==0.6.15
tf2-py==0.7.7
angles==1.9.13
controller-manager==0.20.0
roslib==1.15.8
interactive-markers==1.12.0
rqt_bag==0.5.1
roslaunch==1.17.0
controller-manager-msgs==0.20.0
xacro==1.14.18
roslint==0.12.0
rqt-moveit==0.5.11
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
qt-dotgraph==0.4.2
rosbag==1.17.0
rqt_gui==0.5.3
rqt_bag_plugins==0.5.1
rosunit==1.15.8
rqt-console==0.4.12
rqt-reconfigure==0.5.5
diagnostic-common-diagnostics==1.11.0
rqt_plot==0.4.13
rqt_graph==0.4.14
rqt_py_common==0.5.3
camera-calibration==1.17.0
roswtf==1.17.0
rosservice==1.17.0
rqt_robot_steering==0.5.12
rqt-runtime-monitor==0.5.10
rqt_msg==0.4.10
rqt-robot-dashboard==0.5.8
smach==2.5.2
joint-state-publisher-gui==1.15.1
topic-tools==1.17.0
bondpy==1.8.6
rviz==1.14.25
qt-gui-py-common==0.4.2
image-geometry==1.16.2
genlisp==0.4.18
rostest==1.17.0
rospy==1.17.0
geneus==3.0.0
rosparam==1.17.0
joint-state-publisher==1.15.1
rqt_action==0.4.9
rqt_py_console==0.4.10
rqt-image-view==0.4.17
rostopic==1.17.0
gennodejs==2.0.2
rqt_dep==0.4.12
rqt_top==0.4.10
tabulate==0.9.0
hydra-colorlog==1.2.0
GitPython==3.1.44
annotated-types==0.7.0
wandb==0.21.0
transformers==4.45.1
multiprocess==0.70.16
huggingface-hub==0.29.1
accelerate==0.34.2
joblib==1.5.1
rouge_score==0.1.2
bitsandbytes==0.44.1
word2number==1.1
antlr4-python3-runtime==4.9.3
nvidia-nvjitlink-cu12==12.9.86
gitdb==4.0.12
dill==0.3.8
einops==0.8.1
tensorboard-data-server==0.7.2
aiohappyeyeballs==2.6.1
filelock==3.18.0
lm_eval==0.4.8
DataProperty==1.1.0
nvidia-cusolver-cu12==11.4.5.107
mpmath==1.3.0
aiohttp==3.12.13
numpy==2.2.3
colorlog==6.9.0
nvidia-nccl-cu12==2.20.5
numexpr==2.11.0
packaging==25.0
click==8.2.1
scikit-learn==1.5.2
nvidia-nvtx-cu12==12.1.105
sqlitedict==2.1.0
nvidia-cuda-nvrtc-cu12==12.1.105
datasets==3.0.1
frozenlist==1.7.0
tensorboard==2.18.0
tqdm-multiprocess==0.0.11
xxhash==3.5.0
python-dateutil==2.9.0.post0
deepspeed==0.15.4
nltk==3.9.1
threadpoolctl==3.6.0
nvidia-cudnn-cu12==9.1.0.70
sacrebleu==2.5.1
tqdm==4.67.1
nvidia-cusparse-cu12==12.1.0.106
flash-attn==2.6.3
lxml==5.4.0
safetensors==0.5.3
torch==2.4.1
urllib3==2.4.0
sympy==1.14.0
nvidia-cuda-runtime-cu12==12.1.105
tzdata==2025.2
pip==25.1
attrs==25.3.0
requests==2.32.4
pybind11==2.13.6
pyarrow==20.0.0
hjson==3.1.0
wheel==0.45.1
portalocker==3.2.0
setuptools==78.1.1
jsonlines==4.0.0
pytz==2025.2
typing_extensions==4.14.0
peft==0.15.2
msgpack==1.1.1
more-itertools==10.7.0
tabledata==1.3.4
nvidia-cublas-cu12==12.1.3.1
fsspec==2024.6.1
multidict==6.4.4
hydra-core==1.3.0
colorama==0.4.6
Werkzeug==3.1.3
certifi==2025.6.15
aiosignal==1.3.2
tcolorpy==0.1.7
sentry-sdk==2.32.0
nvidia-curand-cu12==10.3.2.106
nvidia-cuda-cupti-cu12==12.1.105
idna==3.10
Markdown==3.8
zstandard==0.23.0
six==1.17.0
nvidia-cufft-cu12==11.0.2.54
pathvalidate==3.3.1
MarkupSafe==3.0.2
protobuf==6.31.1
regex==2024.11.6
typepy==1.3.4
pandas==2.3.0
omegaconf==2.3.0
charset-normalizer==3.4.2
platformdirs==4.3.8
yarl==1.20.1
Jinja2==3.1.6
chardet==5.2.0
evaluate==0.4.3
networkx==3.5
py-cpuinfo==9.0.0
psutil==7.0.0
triton==3.0.0
absl-py==2.3.0
pydantic==2.11.7
smmap==5.0.2
pytablewriter==1.2.1
PyYAML==6.0.2
propcache==0.3.2
ninja==1.11.1.4
pydantic_core==2.33.2
tokenizers==0.20.3
grpcio==1.73.0
open-unlearning==0.1.0
scipy==1.14.1
typing-inspection==0.4.1
mbstrdecoder==1.1.4
more-itertools==10.3.0
backports.tarfile==1.2.0
jaraco.context==5.3.0
tomli==2.0.1
inflect==7.3.1
typeguard==4.3.0
zipp==3.19.2
jaraco.functools==4.0.1
typing_extensions==4.12.2
autocommand==2.2.2
wheel==0.45.1
importlib_metadata==8.0.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
platformdirs==4.2.2
packaging==24.2
